/*-- scss:defaults --*/
// Base document colors
$body-color: #3F3F3C;
$body-bg: #EDEDED;
$link-color: #009dd2;
$navbar-bg:  #009dd2;
$navbar-fg: #EDEDED;
$sidebar-bg: #EDEDED;


// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

// use Mulish, if possible
$font-family-sans-serif: "Mulish",sans-serif;